<!doctype html>
<html lang="en">
<head>
<link>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebGovorilka | Profile page</title>
    <link rel="stylesheet" href="../../styles/profile.css">
</head>
<body>
<%-include("../parts/header.ejs", {nick: nick, email: email, time: time})-%>
<main>
    <div class="main-frame-container">
        <div class="profile-container">
            <figure>
                <img src="/fetch/avatar/<%=id%>" alt="user image" id="profile-img"/>
                <figcaption>XLast online at 30.04.24 (16:34)</figcaption>
            </figure>
        </div>
        <div class="bio-container">
            <h1 id="name"><%=data.nickname%></h1>
            <div id="bio">
                <%= data.bio ? data.bio : "No bio specified." %>
            </div>
            <p id="registered">Registered: <%= new Date(data.registered).toDateString() %></p>
        </div>
    </div>
    <div class="profile-actions">
        <div id="passChange"><p>Password (change)</p></div>
        <div id="bioChange"><p>Bio (change)</p></div>
        <div id="avatarChange">
            <p>Avatar (change)</p>
        </div>
        <div id="logout"><p>Logout</p></div>
    </div>
</main>
<%-include("../parts/footer.ejs")-%>
<script src="../../scripts/profile.js"></script>
</body>
</html>